* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-col: #1a1c20;
  --secondary-col: #0D0E10;
  --accent-col: #215CFF;
  --scrollbarBG: var(--primary-col);
  --thumbBG: var(--secondary-col);
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  scrollbar-width: 8px;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  overflow: auto;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

::selection {
  background: rgba(0, 0, 0, 0.5);
}

a {
  color: var(--accent-col);
}

#content {
  overflow: hidden;
}
#content .sectioncontainer {
  background: var(--primary-col);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
#content .section {
  width: min(100%, 1800px);
  min-height: 100vh;
  font-family: "Source Sans Pro";
  font-weight: normal;
  color: white;
  overflow: hidden;
  position: relative;
}
#content .section .container {
  width: 100%;
  min-height: 100vh;
  padding-left: clamp(1rem, 5vw, 4rem);
  padding-right: clamp(1rem, 5vw, 4rem);
  padding-top: 6rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#content .section .container > * + * {
  margin-top: 14px;
}
#content .section .container img {
  display: none;
}
@media (max-width: 900px) {
  #content .section .container img {
    display: block;
    width: 90vw;
  }
}
#content .section .gradienttext {
  background: linear-gradient(var(--accent-col) 25%, white 125%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#content .section h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  max-width: 18ch;
  font-weight: normal;
  z-index: 4;
}
#content .section p {
  font-size: clamp(1rem, 2vw, 1.6rem);
  font-weight: normal;
  max-width: clamp(25ch, 50vw, 50ch);
  z-index: 4;
}
@media (max-width: 900px) {
  #content .section {
    min-height: fit-content;
  }
  #content .section h1, #content .section p {
    max-width: 90%;
  }
  #content .section p {
    padding-bottom: 3rem;
  }
  #content .section .container {
    justify-content: flex-start;
    min-height: fit-content;
  }
}
#content .section img {
  overflow: hidden;
}
#content .sectioncontainer:nth-child(even) {
  background: var(--secondary-col);
}
@media (min-width: 900px) {
  #content .sectioncontainer:nth-child(even) .section .container {
    align-items: flex-end;
    text-align: right;
  }
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: auto;
  height: auto;
  left: 21px;
  top: 21px;
  right: 21px;
  z-index: 10;
  background: rgba(217, 217, 217, 0.04);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
  transition: backdrop-filter;
  backdrop-filter: blur(4px);
  border-radius: 39px;
}
#navbar #navcontainer {
  display: flex;
  flex-direction: column;
}
#navbar #navcontainer #mainnavcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px;
  height: 3.5rem;
}
#navbar #navcontainer #mainnavcontainer > * + * {
  margin-left: 10px;
}
#navbar #navcontainer #dropdownnavcontainer {
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow-y: hidden;
  transition: 500ms;
}
#navbar #navcontainer #dropdownnavcontainer > * + * {
  margin-top: 20px;
}
#navbar #navcontainer #dropdownnavcontainer .dropbuttons {
  transition: all 200ms;
  opacity: 1;
}
@media (min-width: 900px) {
  #navbar #navcontainer #dropdownnavcontainer {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
  }
}
@media (max-height: 450px) {
  #navbar #navcontainer #dropdownnavcontainer {
    justify-content: start;
    overflow-y: scroll;
  }
}
@supports not (backdrop-filter: blur()) {
  #navbar {
    transition: background;
    background: rgba(0, 0, 0, 0.4);
  }
}
#navbar #logo {
  width: 120px;
  cursor: pointer;
}
#navbar .spacer {
  flex-grow: 1;
}
#navbar #menubutton {
  display: none;
}
@media (max-width: 900px) {
  #navbar {
    backdrop-filter: blur(8px);
    left: 10px;
    right: 10px;
  }
  @supports not (backdrop-filter: blur()) {
    #navbar {
      background: rgba(0, 0, 0, 0.8);
    }
  }
  #navbar #mainnavcontainer {
    padding: 0px 25px !important;
  }
  #navbar #menubutton {
    display: grid;
    place-items: center;
    padding: 4px;
    background: transparent;
    border-radius: 6px;
  }
  #navbar #menubutton img {
    width: 28px;
  }
  #navbar #menubutton:hover {
    background: rgba(255, 255, 255, 0.125);
  }
  #navbar .mainnavbutton, #navbar #spacer2 {
    display: none;
  }
}
#navbar .navbutton {
  background: transparent;
  width: fit-content;
  border: none;
  padding: 0 15px;
  color: white;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: all 200ms;
  border-radius: 7px;
  text-decoration: none;
}
#navbar .navbutton:not(.downloadbutton):hover {
  background: rgba(255, 255, 255, 0.125);
}
#navbar .downloadbutton {
  background: var(--accent-col);
  border-radius: 25px;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 135px;
  color: white;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  transition: text-shadow 200ms;
  text-decoration: none;
}
#navbar .downloadbutton:hover {
  text-shadow: 0px 0px 5px #ffffff;
}

#content .section .container {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 8rem;
  min-height: 100vh;
}
#content .section .container .maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#content .section .container .maincontainer > * + * {
  margin-left: 66px;
}
@media (max-width: 900px) {
  #content .section .container .maincontainer {
    flex-direction: column;
  }
  #content .section .container .maincontainer > * + * {
    margin-top: 30px;
    margin-left: 0px;
  }
}
#content .section .container .maincontainer .textcontainer {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
}
#content .section .container .maincontainer .textcontainer > * + * {
  margin-top: 10px;
}
#content .section .container .maincontainer .textcontainer h2 {
  font-size: 53px;
  font-weight: normal;
}
@media (max-width: 400px) {
  #content .section .container .maincontainer .textcontainer h2 {
    font-size: 36px;
  }
}
#content .section .container .maincontainer .codecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#content .section .container .maincontainer .codecontainer > * + * {
  margin-top: 25px;
}
#content .section .container .maincontainer .codecontainer p {
  padding-bottom: 0rem !important;
}
#content .section .container .maincontainer .codecontainer #codelabel {
  width: 320px;
  height: 116px;
  background-color: #232323;
  border-radius: 30px;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 15px;
}
#content .section .container .maincontainer .codecontainer #codelabel p {
  font-size: 53px;
  letter-spacing: 0.465em;
  color: transparent;
  transition: color 1000ms;
}
#content .section .container .maincontainer .codecontainer #codelabel #lastletter {
  letter-spacing: 0em;
}
@media (max-width: 400px) {
  #content .section .container .maincontainer .codecontainer #codelabel {
    width: 260px;
    height: 108px;
  }
  #content .section .container .maincontainer .codecontainer #codelabel p {
    font-size: 44px;
    letter-spacing: 0.3825em;
  }
}
#content .section .container .maincontainer .codecontainer #codelabel:hover > p {
  color: white;
}
#content .section .container .maincontainer .codecontainer .copycontainer {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  width: min-content;
  cursor: pointer;
  align-items: center;
}
#content .section .container .maincontainer .codecontainer .copycontainer > * + * {
  margin-left: 10px;
}
#content .section .container .maincontainer .codecontainer .copycontainer img {
  width: 33px;
}
#content .section .container .maincontainer .codecontainer .copycontainer:hover > p {
  text-decoration: underline;
}
#content .section .container img {
  display: block;
  width: clamp(800px, 90vw, 1170px);
  object-fit: cover;
}

/*# sourceMappingURL=authorization.css.map */
